body{
    margin: 0;
}

.login--page{
    width: 100%;
    height: 100vh;
    

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.login--container{
    background: rgba(139, 139, 139, 0.20);
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    width: 40%;
}

input{
    display: block;
    background-color: rgba(0 ,0 , 0,0);
    height: 25px;
    width: 90%;
    border: 1.5px solid #FFFFFF;
    border-radius: 5px;
    margin-left: 5%;
    margin-right: 5%;
    text-decoration: none;
    padding-left: 2%;
    color: white;
}

::placeholder{
    color: rgba(255, 255, 255, 0.53);
}

input:focus {
    outline: none;
}

.login--password{
    margin-top: 5%;
    margin-bottom: 5%;
}

.login--new{
    margin-bottom: 5%;
}


.login--row{
    display: i;
}

h2{
    margin-top: 1%;
    margin-bottom: 7%; 
}

button{
    background-color: transparent;
    border: 1.5px solid #FFFFFF;
    padding: 3px 8px 2px 8px;
    color: white;
    font-size: 12px;
    border-radius: 5px;
    transition: all 0.5s;
}

button:hover{
    background-color: rgba(139, 139, 139, 0.30);
    transform: scale(1.1);
}

.login--input{
    margin-top: 3%;
}

.login--button{
    margin-top: 7%;
}